<div class="page-header">
  <h1>ダウンロードする株価データの編集</h1>
</div>

<table class="table table-bordered table-striped table-condensed">
  <thead>
    <tr>
      <th>コード</th>
      <th>銘柄</th>
      <th>終値</th>
      <th>更新日</th>
    </tr>
  </thead>

  <tbody id="tdoby">
  </tbody>
</table>

<button id="add_stock" class="btn btn-primary">
<br>
<button id="download_ofx" class="btn btn-primary">

