<div class="page-header">
  <h1>コード編集</h1>
</div>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>コード</th>
      <th>銘柄</th>
      <th width='10%'></th>
    </tr>
  </thead>

  <tbody id="rows">
  </tbody>
</table>

<form class="form-inline" id="add_code_form">
  <input type="text" class="form-control" placeholder="コード" id="code_field" />
  <button type="button" id="add_code" class="btn">追加</button>
</form>

<br/>

<button type="button" id="download_ofx" class="btn btn-primary">OFXダウンロード</button>






