<div class="hero-unit">
  <h1>株価OFX (β)</h1>
  <p>最新の株価データを Microsoft Money に取り込み可能な OFX ファイルを提供</p>
</div>

<h2>このサイトについて</h2>

<p>
<a href="http://k-db.com/site/">株価データ ダウンロードサイト</a>
から取得した１日ごとの株価データから、Microsoft Money に取り込み可能な
OFX ファイルを生成、提供します。
</p>

<p>
この OFX ファイルを使用することで、株価自動更新機能がない Microsoft Money Sunset 版でも
株価を更新することができます。
</p>

<br />

<h2>使い方</h2>

<p>
  画面上部
  <%= link_to "証券コード編集", downloads_codes_path %>
  から、ダウンロードしたい証券コードを設定し、OFX ファイルをダウンロードしてください。
  なお、データの更新は毎日 18:00 に行なっています。
</p>


もしくは、以下のリンクから全株価情報を含む OFX ファイルをダウンロードすることもできます。
ただし、東証の全銘柄データを含むため、データが重いです。
</p>

<p>
<%= link_to(downloads_ofx_path, :class => 'btn btn-primary') do %>
  <i class="icon-hdd icon-white"></i> OFXファイルダウンロード
<% end %>
</p>
<br/>

<p>以下、注意事項です。</p>

<ul>
  <li>取り込み時に、ダミーの資産を必ず１つ作り、ここに取り込むようにしてください。既存の口座に取り込むと、全ポジションが 0 になったりして面倒なことになります。
    <ul>
      <li>
        これは OFX の仕様上、ポジションに対して価格を指定するようになっているため。このため、全銘柄ポジション 0 で OFX を生成するようにしてあります。</li>
    </ul>
  <li>取り込み時にダイアログボックスが表示されたら、「延期」を押してください。
    また、未読の明細書が表示されますが、右クリックで削除して構いません</li>
  <li>「通常使わない資産」に設定し、「資産一覧の表示」から「通常使用しない資産を隠す」にチェックを入れておくことをおすすめします。</li>
</ul>

<br />

<h2>ソースコード</h2>

<p>
本サービスのソースコードは <a href="https://github.com/tmurakam/kabuofx">Github</a> で公開しています。
</p>

