<div class="page-header">
  <h1>株価一覧</h1>
</div>

<table class="table table-bordered table-striped table-condensed">
  <thead>
    <tr>
      <th>コード</th>
      <th>銘柄</th>
      <th>終値</th>
      <th>更新日</th>
    </tr>
  </thead>

  <tbody>
    <% @stocks.each do |stock| %>
      <tr>
        <td><%= stock.code %></td>
        <td><%= stock.name %></td>
        <td><%= stock.price %></td>
        <td><%= stock.lastdate %></td>
      </tr>
    <% end %>
  </tbody>
</table>
